In [10]:
import pandas as pd

file_path = "General Election 2020 Active,Inactive Voters by Race, Gender_County.csv"
df = pd.read_csv(file_path)  # Replace with the correct encoding

In [11]:
df

,"GEORGIA SECRETARY OF STATE\nSSVRZ376R3 VOTER REGISTRATION SYSTEM SECRETARY OF STATE\nACTIVE/INACTIVE VOTERS BY RACE/GENDER/DISTRICT\nGENERAL ELECTION VOTING HISTORY SUMMARY\nELECTION DATE: NOVEMBER 03, 2020",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67
0,COUNTY NAME,COUNTY CODE,BLACK MALE,NaN,NaN,BLACK FEMALE,NaN,NaN,BLACK UNKNOWN,NaN,...,NaN,UNKNOWN FEMALE,NaN,NaN,UNKNOWN,NaN,NaN,TOTAL VOTERS,NaN,NaN
1,NaN,NaN,Reg #,Voted,%,Reg #,Voted,%,Reg #,Voted,...,%,Reg #,Voted,%,Reg #,Voted,%,Reg #,Voted,%
2,APPLING,001,967,502,51.91,1195,805,67.36,0,0,...,38.69,375,160,42.67,3,1,33.33,12078,8403,69.57
3,ATKINSON,002,400,234,58.50,512,358,69.92,1,1,...,27.5,134,52,38.81,3,1,33.33,4878,3167,64.92
4,BACON,003,340,132,38.82,559,269,48.12,1,0,...,41.28,188,86,45.74,1,0,0,6952,4674,67.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,WHITFIELD,155,1040,539,51.83,1159,745,64.28,1,0,...,46.26,2469,1260,51.03,21,10,47.62,55945,36955,66.06
157,WILCOX,156,570,276,48.42,748,483,64.57,0,0,...,37.5,54,23,42.59,1,0,0,4770,3294,69.06
158,WILKES,157,1147,649,56.58,1529,1079,70.57,6,5,...,38.07,171,81,47.37,4,2,50,7139,5024,70.37
159,WILKINSON,158,1151,702,60.99,1456,1128,77.47,4,2,...,37.09,147,68,46.26,0,0,0,6712,4776,71.16
160,WORTH,159,1555,751,48.30,2004,1223,61.03,4,4,...,29.5,346,137,39.6,5,3,60,14448,9322,64.52

In [12]:
# Make the first row the new header
df.columns = df.iloc[0]  # Set the first row as column names
df = df[1:]  # Drop the first row from the data

# Reset the index (optional, for cleaner output)
df.reset_index(drop=True, inplace=True)
df

,COUNTY NAME,COUNTY CODE,BLACK MALE,NaN,NaN,BLACK FEMALE,NaN,NaN,BLACK UNKNOWN,NaN,...,NaN,UNKNOWN FEMALE,NaN,NaN,UNKNOWN,NaN,NaN,TOTAL VOTERS,NaN,NaN
0,NaN,NaN,Reg #,Voted,%,Reg #,Voted,%,Reg #,Voted,...,%,Reg #,Voted,%,Reg #,Voted,%,Reg #,Voted,%
1,APPLING,001,967,502,51.91,1195,805,67.36,0,0,...,38.69,375,160,42.67,3,1,33.33,12078,8403,69.57
2,ATKINSON,002,400,234,58.50,512,358,69.92,1,1,...,27.5,134,52,38.81,3,1,33.33,4878,3167,64.92
3,BACON,003,340,132,38.82,559,269,48.12,1,0,...,41.28,188,86,45.74,1,0,0,6952,4674,67.23
4,BAKER,004,412,237,57.52,517,361,69.83,0,0,...,27.87,51,29,56.86,0,0,0,2286,1561,68.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,WHITFIELD,155,1040,539,51.83,1159,745,64.28,1,0,...,46.26,2469,1260,51.03,21,10,47.62,55945,36955,66.06
156,WILCOX,156,570,276,48.42,748,483,64.57,0,0,...,37.5,54,23,42.59,1,0,0,4770,3294,69.06
157,WILKES,157,1147,649,56.58,1529,1079,70.57,6,5,...,38.07,171,81,47.37,4,2,50,7139,5024,70.37
158,WILKINSON,158,1151,702,60.99,1456,1128,77.47,4,2,...,37.09,147,68,46.26,0,0,0,6712,4776,71.16
159,WORTH,159,1555,751,48.30,2004,1223,61.03,4,4,...,29.5,346,137,39.6,5,3,60,14448,9322,64.52

In [13]:
df.columns

Index([      'COUNTY NAME',       'COUNTY CODE',        'BLACK MALE',
                       nan,                 nan,      'BLACK FEMALE',
                       nan,                 nan,     'BLACK UNKNOWN',
                       nan,                 nan,        'WHITE MALE',
                       nan,                 nan,      'WHITE FEMALE',
                       nan,                 nan,     'WHITE UNKNOWN',
                       nan,                 nan,      'ASIA-PI MALE',
                       nan,                 nan,    'ASIA-PI FEMALE',
                       nan,                 nan,   'ASIA-PI UNKNOWN',
                       nan,                 nan,      'HISP-LT MALE',
                       nan,                 nan,    'HISP-LT FEMALE',
                       nan,                 nan,   'HISP-LT UNKNOWN',
                       nan,                 nan,    'NATIVE-AM MALE',
                       nan,                 nan,  'NATIVE-AM FEMALE',
                       nan,                 nan, 'NATIVE-AM UNKNOWN',
                       nan,                 nan,        'OTHER MALE',
                       nan,                 nan,      'OTHER FEMALE',
                       nan,                 nan,     'OTHER UNKNOWN',
                       nan,                 nan,      'UNKNOWN MALE',
                       nan,                 nan,    'UNKNOWN FEMALE',
                       nan,                 nan,           'UNKNOWN',
                       nan,                 nan,      'TOTAL VOTERS',
                       nan,                 nan],
      dtype='object', name=0)

In [15]:
columns_cleaned = [col for col in df.columns if col != 'COUNTY CODE']

# Step 2: Process Column Names in Groups of 3
processed_cols = []
for i in range(0, len(columns_cleaned), 3):  # Iterate over groups of 3 (race, nan, nan)
    race = columns_cleaned[i]  # Get the race name (e.g., 'BLACK MALE')
    if race and ' ' in race:  # Extract the main race (e.g., 'BLACK')
        race = race.split()[0]
    processed_cols.append(race)  # Add the race name
    processed_cols.append(None)  # Retain the first None
    processed_cols.append(race)  # Replace the second None with the race name

# Step 3: Assign the Cleaned Column Names Back to the DataFrame
df.columns = processed_cols
df

TypeError: argument of type 'float' is not iterable

In [ ]:
# Dynamically identify relevant columns based on observed patterns
# Assuming columns like "Reg #", "Voted", and so on appear for each race and sex combination
race_columns = [col for col in data.columns if "Voted" in col]

# Extract and rename columns for easier analysis
renamed_columns = {
    col: f"{race}_{suffix}"
    for race in ["Black", "White", "Hispanic", "Asian", "Native", "Other"]
    for suffix, col in zip(["Male Registered", "Male Voted", "Female Registered", "Female Voted"],
                           [f"Reg #.{i}" for i in range(4)])  # Adjust indices as necessary
}
renamed_columns["Unnamed: 0"] = "County"
renamed_columns["Reg #.19"] = "Total Registered"
renamed_columns["Voted.19"] = "Total Voted"

# Rename columns in the dataset
data.rename(columns=renamed_columns, inplace=True)

# Select relevant columns for analysis
race_columns = [col for col in renamed_columns.values() if "Registered" in col]
columns_to_keep = ["County", "Total Registered"] + race_columns
filtered_data = data[columns_to_keep]

# Convert numerical columns to numeric types
for col in filtered_data.columns[1:]:
    filtered_data[col] = pd.to_numeric(filtered_data[col], errors="coerce")

# Calculate ratios for all races and sexes
for col in race_columns:
    ratio_col = f"{col}_ratio"
    filtered_data[ratio_col] = filtered_data[col] / filtered_data["Total Registered"]

# Output the transformed dataset
print(filtered_data)