In [81]:
import pandas as pd 
import numpy as np

In [98]:
df_vote_rg = pd.read_csv('Voted_General Election 2020 Active,Inactive Voters by Race, Gender_County.csv')
df_poll = pd.read_excel('ga_polling.xlsx')

In [99]:
# df_vote_rg.drop(columns='COUNTY CODE')
df_vote_rg.columns

# new column name, map each race & gender cateogry to A,B,C...; a,b,c
races = ['A', 'B', 'C', 'D', 'E', 'F', 'G']  # 7 races
genders = ['a', 'b', 'c']  # 3 genders

# Generate the list using a list comprehension
column_names = [f"voted_{race}_{gender}" for race in races for gender in genders]
        
renamed_columns = ['county', 'COUNTY CODE'] + column_names + ['total_votes']
df_vote_rg.columns = renamed_columns 
df_vote_rg.drop(columns='COUNTY CODE',inplace=True)
df_vote_rg.head()

,county,voted_A_a,voted_A_b,voted_A_c,voted_B_a,voted_B_b,voted_B_c,voted_C_a,voted_C_b,voted_C_c,...,voted_E_a,voted_E_b,voted_E_c,voted_F_a,voted_F_b,voted_F_c,voted_G_a,voted_G_b,voted_G_c,total_votes
0,APPLING,502,805,0,3045,3534,3,17,18,0,...,7,2,0,11,23,0,166,160,1,8403
1,ATKINSON,234,358,1,1062,1246,1,2,1,0,...,1,2,0,6,6,0,33,52,1,3167
2,BACON,132,269,0,1845,2164,2,5,6,0,...,1,2,0,5,12,0,97,86,0,4674
3,BAKER,237,361,0,440,451,0,4,6,0,...,1,1,0,1,3,0,17,29,0,1561
4,BALDWIN,2564,4310,3,4885,5601,10,61,88,0,...,8,8,0,42,62,0,258,297,2,18342

In [100]:
df_poll.head()

,County,Vote Center ID,County Precinct,Municipal Precinct,Polling Place Name,Street Number,Street Name,City,State,Zip5,Zip4,Advanced Polling Place,Polling Place Status,Classification
0,APPLING,1012,2,NaN,LIONS CLUB BLDG/ AT FAIR GROUNDS,245,INDUSTRIAL DR,BAXLEY,GA,31513,0.0,No,Available,OTHER
1,APPLING,1018,1C,NaN,1ST ASSEMBLY OF GOD CHURCH,3397,HATCH PKY N,BAXLEY,GA,31513,0.0,No,Available,CHURCH
2,APPLING,1001,1B,NaN,ALTAMAHA FIRE STATION,392,ALTAMAHA SCHOOL RD,BAXLEY,GA,31513,0.0,No,Available,County Building
3,APPLING,1006,4D,NaN,BAX CH OF GOD/FELLOWSHIP HALL,353,BLACKSHEAR HWY,BAXLEY,GA,31513,0.0,No,Available,CHURCH
4,APPLING,1002,5A,NaN,BAXLEY CITY GYM,252,W. PARKER ST.,BAXLEY,GA,31513,0.0,No,Available,County Building

In [93]:
df_poll = df_poll[['County','City']].groupby('County').count().reset_index().rename(columns={'City':'n_poll'})

In [96]:

df = df_poll.merge(df_vote_rg,left_on ='County',right_on ='county')

,County,n_poll,county,A_a,A_b,A_c,B_a,B_b,B_c,C_a,...,E_a,E_b,E_c,F_a,F_b,F_c,G_a,G_b,G_c,total_votes
0,APPLING,9,APPLING,502,805,0,3045,3534,3,17,...,7,2,0,11,23,0,166,160,1,8403
1,ATKINSON,4,ATKINSON,234,358,1,1062,1246,1,2,...,1,2,0,6,6,0,33,52,1,3167
2,BACON,1,BACON,132,269,0,1845,2164,2,5,...,1,2,0,5,12,0,97,86,0,4674
3,BAKER,5,BAKER,237,361,0,440,451,0,4,...,1,1,0,1,3,0,17,29,0,1561
4,BALDWIN,14,BALDWIN,2564,4310,3,4885,5601,10,61,...,8,8,0,42,62,0,258,297,2,18342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,WHITFIELD,23,WHITFIELD,539,745,0,12729,14919,36,160,...,27,24,0,175,185,2,1236,1260,10,36955
155,WILCOX,6,WILCOX,276,483,0,1158,1280,1,4,...,1,1,0,5,7,0,27,23,0,3294
156,WILKES,7,WILKES,649,1079,5,1457,1584,1,14,...,2,5,0,11,18,0,83,81,2,5024
157,WILKINSON,9,WILKINSON,702,1128,2,1336,1439,2,1,...,3,4,0,9,9,0,56,68,0,4776
158,WORTH,15,WORTH,751,1223,4,3359,3592,8,7,...,3,2,0,27,21,0,131,137,3,9322

In [ ]:
# need columns: 
# ap_ib => county tweets
# counselors => contribution
# calculus => polling availability (need to divide n_poll/total number of elegible people & set a threshold to turn into 0 or 1) 
# frpl_rate? not sure 
# frac_sat_act => total_votes/total number of elegible people
# n_sat_ac => total_votes
# n_A_m => number of eligible people in each racial+gender group
# n_A .. n_G => number of eligible people in each racial group
# frac_A_a ... frac_G_c: number of eligible people each racial+gender group/total number of elegible people
# frac_A ... frac_G: number of eligible people each racial group/total number of elegible people
# n_sat_act_A_m => number of votes in each racial+gender group 
# n_sat_act_A => number of votes in each racial group 
# frac_sat_act_A_m => n_sat_act_A_m /n_A_m ; votes in racial+gender group/number of eligible people in racial+gender group 
# frac_sat_act_A => n_sat_act_A /n_A ; votes in racial group/number of eligible people in racial group 
# total_students => total number of eligible people
# latitude 
# longtitude

In [129]:
p2_features['frac_sat_act_A_m']

0      0.263473
1      0.259528
2      0.243523
3      0.296296
4      0.272727
         ...
485    0.000000
486    0.000000
487    0.000000
488    0.000000
489    0.000000
Name: frac_sat_act_A_m, Length: 490, dtype: float64

In [128]:
p2_features['n_sat_act_A_m']/p2_features['n_A_m']

0      0.263473
1      0.259528
2      0.243523
3      0.296296
4      0.272727
         ...
485         NaN
486         NaN
487         NaN
488         NaN
489         NaN
Length: 490, dtype: float64

In [102]:
p2_features = pd.read_csv('p2_features.csv')
p2_features

,Unnamed: 0,ap_ib,calculus,counselors,frpl_rate,frac_sat_act,n_sat_act,n_A_m,n_A_f,n_B_m,...,frac_sat_act_A,frac_sat_act_B,frac_sat_act_C,frac_sat_act_D,frac_sat_act_E,frac_sat_act_F,frac_sat_act_G,total_students,latitude,longitude
0,0,1.0,1.0,8.48,0.859318,0.269287,370,167,219,429,...,0.259067,0.260210,0.206897,0.393443,0.600000,0.428571,0.379310,1374,40.818291,-73.950111
1,1,1.0,1.0,7.20,0.786228,0.291291,582,551,255,235,...,0.267990,0.258278,0.295739,0.395973,0.500000,0.272727,0.133333,1998,40.582372,-73.968078
2,2,1.0,0.0,2.13,0.802850,0.203791,86,193,129,23,...,0.220497,0.122807,0.000000,0.400000,0.000000,0.173913,0.333333,422,40.649485,-73.958213
3,3,1.0,0.0,2.12,0.801567,0.275862,104,108,127,58,...,0.302128,0.211864,0.142857,0.500000,0.500000,0.666667,0.000000,377,40.888012,-73.852561
4,4,1.0,1.0,1.08,0.500888,0.410619,232,33,36,141,...,0.405797,0.391586,0.426087,0.484848,0.000000,0.666667,0.444444,565,40.742723,-73.959366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,485,1.0,0.0,1.32,0.807453,0.261954,126,0,115,0,...,0.226087,0.276451,0.166667,0.282051,0.333333,0.000000,0.363636,481,40.792917,-73.947165
486,486,1.0,1.0,0.00,0.776413,0.165025,67,0,197,0,...,0.187817,0.104938,0.285714,0.250000,0.000000,0.166667,0.500000,406,40.709800,-73.943942
487,487,1.0,0.0,2.07,0.870130,0.137634,64,0,170,0,...,0.164706,0.121771,0.200000,0.090909,0.000000,0.333333,0.000000,465,40.848581,-73.908670
488,488,1.0,1.0,2.19,0.789753,0.241563,136,0,247,0,...,0.283401,0.136364,0.384615,0.217172,0.125000,0.200000,0.312500,563,40.708447,-73.804211
489,489,1.0,0.0,2.17,0.853832,0.263717,149,0,41,0,...,0.097561,0.237668,0.340000,0.287234,0.500000,0.000000,0.000000,565,40.771307,-73.924286

In [103]:
p2_features.columns

Index(['Unnamed: 0', 'ap_ib', 'calculus', 'counselors', 'frpl_rate',
       'frac_sat_act', 'n_sat_act', 'n_A_m', 'n_A_f', 'n_B_m', 'n_B_f',
       'n_C_m', 'n_C_f', 'n_D_m', 'n_D_f', 'n_E_m', 'n_E_f', 'n_F_m', 'n_F_f',
       'n_G_m', 'n_G_f', 'n_A', 'n_B', 'n_C', 'n_D', 'n_E', 'n_F', 'n_G',
       'frac_A_m', 'frac_A_f', 'frac_B_m', 'frac_B_f', 'frac_C_m', 'frac_C_f',
       'frac_D_m', 'frac_D_f', 'frac_E_m', 'frac_E_f', 'frac_F_m', 'frac_F_f',
       'frac_G_m', 'frac_G_f', 'frac_A', 'frac_B', 'frac_C', 'frac_D',
       'frac_E', 'frac_F', 'frac_G', 'n_sat_act_A_m', 'n_sat_act_A_f',
       'n_sat_act_B_m', 'n_sat_act_B_f', 'n_sat_act_C_m', 'n_sat_act_C_f',
       'n_sat_act_D_m', 'n_sat_act_D_f', 'n_sat_act_E_m', 'n_sat_act_E_f',
       'n_sat_act_F_m', 'n_sat_act_F_f', 'n_sat_act_G_m', 'n_sat_act_G_f',
       'n_sat_act_A', 'n_sat_act_B', 'n_sat_act_C', 'n_sat_act_D',
       'n_sat_act_E', 'n_sat_act_F', 'n_sat_act_G', 'frac_sat_act_A_m',
       'frac_sat_act_A_f', 'frac_sat_act_B_m', 'frac_sat_act_B_f',
       'frac_sat_act_C_m', 'frac_sat_act_C_f', 'frac_sat_act_D_m',
       'frac_sat_act_D_f', 'frac_sat_act_E_m', 'frac_sat_act_E_f',
       'frac_sat_act_F_m', 'frac_sat_act_F_f', 'frac_sat_act_G_m',
       'frac_sat_act_G_f', 'frac_sat_act_A', 'frac_sat_act_B',
       'frac_sat_act_C', 'frac_sat_act_D', 'frac_sat_act_E', 'frac_sat_act_F',
       'frac_sat_act_G', 'total_students', 'latitude', 'longitude'],
      dtype='object')

In [119]:
p2_features[['frac_A_m', 'frac_A_f', 'frac_B_m', 'frac_B_f', 'frac_C_m', 'frac_C_f',
       'frac_D_m', 'frac_D_f', 'frac_E_m', 'frac_E_f', 'frac_F_m', 'frac_F_f',
       'frac_G_m', 'frac_G_f']].sum(axis=1)

,frac_A_m,frac_A_f,frac_B_m,frac_B_f,frac_C_m,frac_C_f,frac_D_m,frac_D_f,frac_E_m,frac_E_f,frac_F_m,frac_F_f,frac_G_m,frac_G_f
0,0.121543,0.159389,0.312227,0.311499,0.012373,0.008734,0.024017,0.020378,0.002183,0.001456,0.002911,0.002183,0.011645,0.009461
1,0.275776,0.127628,0.117618,0.109109,0.117117,0.082583,0.089590,0.059560,0.005005,0.003003,0.004004,0.001502,0.005506,0.002002
2,0.457346,0.305687,0.054502,0.080569,0.016588,0.002370,0.011848,0.000000,0.000000,0.002370,0.030806,0.023697,0.009479,0.004739
3,0.286472,0.336870,0.153846,0.159151,0.013263,0.005305,0.010610,0.010610,0.002653,0.002653,0.002653,0.005305,0.005305,0.005305
4,0.058407,0.063717,0.249558,0.297345,0.111504,0.092035,0.035398,0.023009,0.000000,0.000000,0.001770,0.003540,0.030088,0.033628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,0.000000,0.239085,0.000000,0.609148,0.000000,0.037422,0.000000,0.081081,0.000000,0.006237,0.000000,0.004158,0.000000,0.022869
486,0.000000,0.485222,0.000000,0.399015,0.000000,0.051724,0.000000,0.029557,0.000000,0.004926,0.000000,0.014778,0.000000,0.014778
487,0.000000,0.365591,0.000000,0.582796,0.000000,0.010753,0.000000,0.023656,0.000000,0.002151,0.000000,0.006452,0.000000,0.008602
488,0.000000,0.438721,0.000000,0.117229,0.000000,0.023091,0.000000,0.351687,0.000000,0.014210,0.000000,0.026643,0.000000,0.028419
489,0.000000,0.072566,0.000000,0.394690,0.000000,0.176991,0.000000,0.332743,0.000000,0.014159,0.000000,0.007080,0.000000,0.001770

In [113]:
p2_features[['n_A_m', 'n_A_f', 'n_B_m', 'n_B_f',
       'n_C_m', 'n_C_f', 'n_D_m', 'n_D_f', 'n_E_m', 'n_E_f', 'n_F_m', 'n_F_f',
       'n_G_m', 'n_G_f']].sum(axis=1)

0      1374
1      1998
2       422
3       377
4       565
       ...
485     481
486     406
487     465
488     563
489     565
Length: 490, dtype: int64

In [114]:
p2_features['total_students']

0      1374
1      1998
2       422
3       377
4       565
       ...
485     481
486     406
487     465
488     563
489     565
Name: total_students, Length: 490, dtype: int64

In [118]:
p2_features[['frac_A', 'frac_B', 'frac_C', 'frac_D',
       'frac_E', 'frac_F', 'frac_G']]

       frac_A    frac_B    frac_C    frac_D    frac_E    frac_F    frac_G
0    0.280932  0.623726  0.021106  0.044396  0.003639  0.005095  0.021106
1    0.403403  0.226727  0.199700  0.149149  0.008008  0.005506  0.007508
2    0.763033  0.135071  0.018957  0.011848  0.002370  0.054502  0.014218
3    0.623342  0.312997  0.018568  0.021220  0.005305  0.007958  0.010610
4    0.122124  0.546903  0.203540  0.058407  0.000000  0.005310  0.063717
..        ...       ...       ...       ...       ...       ...       ...
485  0.239085  0.609148  0.037422  0.081081  0.006237  0.004158  0.022869
486  0.485222  0.399015  0.051724  0.029557  0.004926  0.014778  0.014778
487  0.365591  0.582796  0.010753  0.023656  0.002151  0.006452  0.008602
488  0.438721  0.117229  0.023091  0.351687  0.014210  0.026643  0.028419
489  0.072566  0.394690  0.176991  0.332743  0.014159  0.007080  0.001770

[490 rows x 7 columns]

In [125]:
p2_features[['n_A_m', 'n_A_f']].sum(axis=1)/p2_features['total_students']

0      0.280932
1      0.403403
2      0.763033
3      0.623342
4      0.122124
         ...
485    0.239085
486    0.485222
487    0.365591
488    0.438721
489    0.072566
Length: 490, dtype: float64